{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="main mt-3">
    <div class="media">
      <img src="{{ user.profile.image.url }}" alt="User Image" width="auto" height="155"  class="rounded-circle">
      <div class="media-body mt-4">
        <h2 class="ml-5">{{ user.username }}</h2>
          <p class="ml-5">{{ user.email }}</p>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Profile Info!</legend>
        {{ u_form| crispy }}
        {{ p_form| crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="button">Update</button>
      </div>
    </form>
  </div>
{% endblock %}
